body {
  font-family: "Libre Franklin", sans-serif;
}
.page-wrapper,
.page {
  width: 100%;
  /* height: 100vh; */
  overflow-x: hidden;
}

.page {
  position: relative;
  padding-top: 40px;
}

.page-header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: transparent;
  border-bottom: 5px solid transparent;
  transition: all 0.5s ease-in-out;
}

.page-header .status-bar {
  height: 64px;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}

@media screen and (min-width: 40em) {
  .page-header .status-bar {
    height: 40px;
  }
}

.page-header.active {
  background-color: #1e1d3a;
  border-bottom: 8px solid #387a77;
}

.page-header.active.hide-status-bar .status-bar {
  height: 0;
}

.page-header .brand img {
  height: 48px;
  width: auto;
}

.page-header .nav-bar .menu-item a.active {
  font-weight: bold;
}

@media screen and (min-width: 40em) {
  .page-header .nav-bar .menu-item a.active {
    border-bottom: 2px solid #ffffff;
  }
}

.page-footer {
  border-top: 8px solid #387a77;
}
.page-footer .menu {
  border-bottom: 2px solid #ffffff;
}
.page-footer .menu .menu-item {
  flex-basis: 20%;
  position: relative;
  margin-bottom: 1rem;
}

@media screen and (min-width: 40em) {
  .page-footer .menu .menu-item ~ .menu-item::before {
    content: "";
    position: absolute;
    left: -1px;
    border: 1px solid #ffffff;
    height: 100%;
    width: 0px;
  }
}

.page-footer .social-network {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.section {
  position: relative;
  padding: 80px 0;
}

.section.upper-space {
  padding-top: 164px;
}

.section.lower-space {
  padding-bottom: 164px;
}

.section .upper-cut,
.section .lower-cut {
  content: "";
  width: 100%;
  position: absolute;
  z-index: 50;
  width: 0;
  height: 0;
}

.section .upper-cut {
  top: -83px;
  border-bottom: 84px solid #ffffff;
  border-right: 84px solid transparent;
}

.section .upper-cut-blue {
  border-bottom-color: #1e1d3a;
}

.section .lower-cut {
  bottom: -83px;
  border-top: 84px solid #ffffff;
  border-left: 84px solid transparent;
}

.section .lower-cut-blue {
  border-top-color: #1e1d3a;
}

.section .section-title {
  text-transform: uppercase;
  font-weight: 900;
}

/* -----------------------------------------------------------------------------
Header Section
----------------------------------------------------------------------------- */
.header-section {
  padding: 0;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.header-text h1 {
  line-height: 1.1;
}

.header-carousel.owl-carousel .item {
  width: 100%;
  height: calc(100vh + 80px);
  min-height: 200px;
}

.header-carousel.owl-carousel .owl-dots {
  margin: 0;
  position: absolute;
  right: 0;
  width: 40px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-banner {
  height: 400px;
}
/* -----------------------------------------------------------------------------
About Section
----------------------------------------------------------------------------- */
@media screen and (max-width: 39.9375em) {
  .about-section {
    padding-bottom: 50px;
  }
}

.about-text {
  margin-bottom: 5rem;
}

.about-icon {
  height: 54px;
  width: auto;
  display: block;
  margin: 0 auto;
}

/* -----------------------------------------------------------------------------
Paralax Section
----------------------------------------------------------------------------- */
.parallax-section {
  height: 75vh;
}

/* -----------------------------------------------------------------------------
Service Section
----------------------------------------------------------------------------- */
.service-card {
  position: relative;
  width: 100%;
  padding-bottom: 119.496855%;
  margin: 0;
}

.service-card .card-section {
  position: absolute;
  top: 0;
}

.service-card .service-card-title {
}

/* -----------------------------------------------------------------------------
Service Section
----------------------------------------------------------------------------- */
.service-page .service-detail {
  margin: 8rem 0;
}

.service-page .service-detail:first-child,
.service-page .service-detail:last-child {
  margin-top: 0;
}

.service-text {
  order: 1;
}

.service-flipped .service-text {
  order: 2;
}

.service-image {
  order: 2;
}

.service-flipped .service-image {
  order: 1;
}

@media screen and (min-width: 40em) {
  .service-text {
    order: 2;
  }

  .service-flipped .service-text {
    order: 1;
  }

  .service-image {
    order: 1;
  }

  .service-flipped .service-image {
    order: 2;
  }
}

/* -----------------------------------------------------------------------------
Project Sections
----------------------------------------------------------------------------- */
.projects-section #projects-map {
  height: 400px;
}

/* -----------------------------------------------------------------------------
Helpers
----------------------------------------------------------------------------- */
.with-centered-barckground {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.transparent {
  background-color: transparent !important;
}

.white {
  background-color: #ffffff !important;
}

.white--text {
  color: #ffffff !important;
}

.grey {
  background-color: #e6e6e6 !important;
}

.grey--text {
  color: #e6e6e6 !important;
}

.blue {
  background-color: #1e1d3a !important;
  color: #ffffff;
}

.blue--text {
  color: #1e1d3a !important;
}

.green {
  background-color: #387a77 !important;
  color: #ffffff !important;
}

.green--text {
  color: #387a77 !important;
}

.font-black {
  font-weight: 900;
}

.libre-franklin {
  font-family: "Libre Franklin", sans-serif !important;
}

.upper-case {
  text-transform: uppercase;
}
